$body-bg: #666ca3;
$primary-color: #13183f;
$txt-color: #83869a;
$link-color: #f74780;
$link-color-hover: #b6325c;
$white: #ffffff;
$body-gradient: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
$primary-color-hover: rgba(19, 24, 63, 0.573);
$primary-gradient: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
$btn-hover-primary: linear-gradient(180deg, rgb(255, 111, 72, 0.623) 0.04%, rgb(240, 42, 166, 0.623) 100%);
$secondary-gradient: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
$btn-hover-secondary: linear-gradient(180deg, rgb(115, 117, 255) 0%, rgb(254, 112, 202) 99.92%);