@use '../base/breakpoints' as media;



.reservations__content {
    text-align: center;
    background-image: url(../assets/booking/hero-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom bottom;
    background-attachment: fixed;
    color: #FFF;
    padding: 5rem 3rem 25rem;
    z-index: -1;

    @include media.tablets {
        background-image: url(../assets/booking/hero-bg-tablet.jpg);
        background-attachment: fixed;
    }

    @include media.desktops {
        background-image: url(../assets/booking/hero-bg-desktop.jpg);
        background-attachment: fixed;
    }

    .reservations__title {
        padding: 3rem 0 2rem;
        font-size: 4rem;
        font-weight: 200;

        @include media.tablets {
            font-size: 6rem;
        }
    }

    .reservations__description {
        font-size: 1.9rem;
        line-height: 2.5rem;
        font-weight: 200;
        max-width: 45rem;
        margin: 0 auto;

        @include media.tablets {
            font-size: 2.2rem;
            max-width: 50rem;
        }
    }

    .reservations__button {
        display: inline-block;
        padding: 1.7rem 7rem;
        border: 2px solid #FFF;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 600;
        letter-spacing: 3px;
        color: #FFF;
        margin-top: 3rem;
        max-width: max-content;
    }
}