@use '../base/breakpoints' as media;

.footer {
    background-color: #111111;
    color: #FFF;
    padding: 7rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    overflow-x: hidden;

    @include media.tablets {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    @include media.tablets {
        .footer__brand {
            align-self: flex-start;
        }
    }

    address {
        font-style: normal;
    }

    p {
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: .2rem;
        margin-bottom: 2rem;
    }
}