@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.container {
    max-width: 130rem;
    margin: 0 auto;
}

a::selection, li::selection {
    background-color: transparent;
}