@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    transition: all .2s;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a4663;
}

.containerCalc {
    width: 90%;
    max-width: 540px;
    margin: 60px auto;
}